<ion-content [fullscreen]="true">
    <form [formGroup]='form'>
        <ion-item lines="none">
            <h4>用户登陆</h4>
        </ion-item>
        <ion-item>
            <ion-label>用户名</ion-label>
            <ion-input type='text' formControlName='username'></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>密码</ion-label>
            <ion-input type="password" formControlName='password'></ion-input>
        </ion-item>
    </form>

    <div class="buttons">
        <ion-button expand="block" [disabled]='!form?.valid' (click)='login()'>登陆</ion-button>
    </div>

    <p class="title">默认用户</p>
    <div class="preset-user">
        <ion-button size="small" color="medium" (click)='presetUser("Leon")'>Leon</ion-button>
        <ion-button size="small" color="medium" (click)='presetUser("何工")'>何工</ion-button>
        <ion-button size="small" color="medium" (click)='presetUser("关工")'>关工</ion-button>
    </div>

    <ion-button (click)='configApp()' class="config" size="small" color="medium">配置环境变量</ion-button>
</ion-content>