<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.cxist.mirror" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Messaging</name>
    <js-module name="Messaging" src="www/Messaging.js">
        <clobbers target="cordova.plugins.Messaging" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Messaging">
                <param name="android-package" value="com.cxist.mirror.Messaging" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>

        <source-file src="src/android/Messaging.kt" target-dir="app/src/main/kotlin/com/cxist/mirror" />
        <!-- bean -->
        <source-file src="src/android/bean/Actions.kt" target-dir="app/src/main/kotlin/com/cxist/mirror/bean" />
        <source-file src="src/android/bean/ActionStartupInfo.kt" target-dir="app/src/main/kotlin/com/cxist/mirror/bean" />
        <source-file src="src/android/bean/MessageData.kt" target-dir="app/src/main/kotlin/com/cxist/mirror/bean" />
        <source-file src="src/android/bean/ServiceState.kt" target-dir="app/src/main/kotlin/com/cxist/mirror/bean" />
        <source-file src="src/android/bean/TokenInfo.kt" target-dir="app/src/main/kotlin/com/cxist/mirror/bean" />
        <!-- message -->
        <source-file src="src/android/message/NativeHttp.kt" target-dir="app/src/main/kotlin/com/cxist/mirror/message" />
        <source-file src="src/android/message/SignalR.kt" target-dir="app/src/main/kotlin/com/cxist/mirror/message" />
        <source-file src="src/android/message/Utils.kt" target-dir="app/src/main/kotlin/com/cxist/mirror/message" />
        <source-file src="src/android/message/HttpsUtils.java" target-dir="app/src/main/kotlin/com/cxist/mirror/message" />
        <!-- receiver -->
        <source-file src="src/android/receiver/StartReceiver.kt" target-dir="app/src/main/kotlin/com/cxist/mirror/receiver" />
        <!-- service -->
        <source-file src="src/android/service/MirrorMESService.kt" target-dir="app/src/main/kotlin/com/cxist/mirror/service" />
        <!-- other -->
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>